# Игнорировать файлы и папки, созданные операционной системой
.DS_Store
Thumbs.db

# Игнорировать виртуальные окружения Python
venv/
env/
*.pyc
*.pyo
__pycache__/

# Игнорировать файлы конфигурации
*.ini
*.cfg
config/

# Игнорировать файлы и папки, сгенерированные различными средствами разработки
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Игнорировать файлы с личными данными или паролями
secrets.txt
credentials.json

# Игнорировать папки и файлы, созданные при сборке или запуске проекта
build/
dist/
*.egg-info/
*.pyc
*.pyo
*.pyd
*.so
*.exe
*.dll
*.log

# Игнорировать файлы и папки, относящиеся к зависимостям проекта
node_modules/
bower_components/
